<div>
  <h1>Cadastro de Clientes</h1>

  <!-- Formulário para cadastrar clientes -->
  <form [formGroup]="clienteForm" (ngSubmit)="salvarCliente()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input id="nome" type="text" formControlName="nome" placeholder="Digite o nome completo" />
      @if (clienteForm.get('nome')?.invalid && clienteForm.get('nome')?.touched) {
      <small>
        O nome é obrigatório e deve ter pelo menos 3 caracteres.
      </small>
      }
    </div>
    <div class="form-group">
      <label for="dataNascimento">Data de Nascimento:</label>
      <input id="dataNascimento" type="date" formControlName="dataNascimento" />
    </div>

    <div class="form-group">
      <label for="celular">Celular:</label>
      <input id="celular" type="text" formControlName="celular" placeholder="(XX) XXXXX-XXXX" />
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input id="email" type="email" formControlName="email" placeholder="Digite o e-mail" />
    </div>

    <div class="form-group">
      <label for="endereco">Endereço:</label>
      <input id="endereco" type="text" formControlName="endereco" placeholder="Digite o endereço" />
    </div>

    <div class="form-group">
      <label for="restricoesAlimentares">Restrições Alimentares:</label>
      <textarea id="restricoesAlimentares" formControlName="restricoesAlimentares"
        placeholder="Digite as restrições alimentares"></textarea>
    </div>

    <button type="submit" [disabled]="clienteForm.invalid">Salvar Cliente</button>
  </form>
  <hr />

  <!-- Lista de clientes cadastrados -->
  <h2>Clientes Cadastrados</h2>
  @if(clientes.length > 0){ 
    <table class="tabela-clientes">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>Celular</th>
          <th>E-mail</th>
          <th>Endereço</th>
          <th>Restrições Alimentares</th>
          <th>Ações</th> <!-- Coluna para ações -->
        </tr>
      </thead>
      <tbody>
        <tr> 
        @for (cliente of clientes; track $index) {
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.dataNascimento }}</td>
          <td>{{ cliente.celular }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.endereco }}</td>
          <td>{{ cliente.restricoesAlimentares || 'Nenhuma' }}</td>
          <td>
            <button (click)="deletarCliente($index)">Deletar</button> <!-- Botão para deletar -->
          </td>}
        </tr>
      </tbody>
    </table>
  } @else{
    <p>Nenhum cliente cadastrado.</p>
  }
</div>